{% extends 'mainap/base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center mt-3">

    {% for course in object_list %}
            <div class="card col-sm-12 col-md-6 col-lg-4 border-0">
            <a name='{{course.course_number}'> </a>
            <a href="#{{course.course_number}}">
                <img src="{% static course.course_picture %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">{{course.course_name}}</h5>
                </div>
            </a>
            </div>
    {% endfor course %}
</div>

<div class="row justify-content-center align-items-center mt-3 mb-n3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      {% for course_number in object_list %}
      <li class="page-item"><a class="page-link" href="#{{ course_number.course_number }}">{{ course_number.course_number }}</a></li>
      {% endfor %}
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>

{% endblock content %}
